<footer>
    <div class="copyright">简体 | 繁体 | English | 常见问题</div>
    <div class="copyright">Phone Stores版权所有-京ICP备10046444-<img src="./image/ghs.png"
            alt="">京公网安备11010802020134号-京ICP证110507号</div>

</footer>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/register.js"></script>

</html>